{% extends 'base.html.twig' %}

{% block body %}
        <h2>{{ test.title }}</h2>
        {% for question in test.questions %}
            <h3>{{ question.text }}</h3>
            {% for answer in question.answers %}
                <p>{{ answer.text }}</p>
            {% endfor %}
            <hr>
        {% endfor %}
{% endblock %}